<nav class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggler"
        (click)="collapsed = !collapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="" class="navbar-brand ml-2">Recipe Book</a>
    </div>
    <div class="navbar-collapse row" [class.collapse]="collapsed">
      <ul class="navbar-nav col-6">
        <a
          routerLink="recipes"
          routerLinkActive="active"
          class="nav-item nav-link ml-3"
          >Recipes</a
        >
        <a
          routerLink="shopping-list"
          routerLinkActive="active"
          class="nav-item nav-link ml-3"
          >Shopping List</a
        >
      </ul>
      <ul class="nav navbar-light navbar-nav mr-5 ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" appDropdown>Manage</a>
          <ul class="dropdown-menu">
            <a class="dropdown-item">Save</a>
            <a class="dropdown-item">Fetch</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
