<div class="row">
    <div class="col-12">
        <img src={{recipe.imagePath}} class="img-fluid" alt={{recipe.name}}>
    </div>
</div>
<div class="row">
    <div class="col-12"><h1>{{recipe.name}}</h1></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button appDropdown class="btn btn-primary mb-2 dropdown-toggle">Manage recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <a class="dropdown-item" (click)="onAddToCart()">To cart</a>
              <a [routerLink]="['edit']" class="dropdown-item" >Edit</a>
              <a class="dropdown-item">Delete</a>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li 
                class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>
