<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 from-group">
          <label for="name">Name</label>
          <input
            #nameInput
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 from-group">
          <label for="amount">Amount</label>
          <input
            #amountInput
            name="amount"
            type="number"
            id="amount"
            class="form-control"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <button class="btn btn-success px-4" [disabled]="! form.valid" type="submit">{{editMode === true ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger px-4 ml-4" (click)="onDelete()" type="button">Delete</button>
          <button class="btn btn-primary px-4 ml-4" (click)="onClear()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
