<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-sm-5 from-group">
                    <label for="name">Name</label>
                    <input #nameInput type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2 from-group">
                    <label for="amount">Amount</label>
                    <input #amountInput type="number" id="amount" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button class="btn btn-success px-4" (click)="onAdd()" type="submit">Add</button>
                    <button class="btn btn-danger px-4 ml-4" type="button">Delete</button>
                    <button class="btn btn-primary px-4 ml-4" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
